body{
	text-align:center;
	background-color:black;
}
span{
	color:green;
	text-decoration:underline;
	font-weight:bold;
	text-shadow: 2px 2px red;
}

p{
	color:black;
	font-family:helvetica;
}
 

.eoin{
	color:blue;
}

span:hover{
	color:purple;
}

.italic{
	font-style:italic;
}



p:hover{
	color:purple;
}