#wrapper{
	width: 1350px;
	height: 300px;
	background: blue
}
	
#greenleft{
	background:green;
	height: 200px;
	width: 200px;
	float: left;
}

#greenright{
	background:green;
	height: 200px;
	width: 200px;
	float: right;
}

